{% extends 'students/base.html' %}
{% load path_tag_filter %}
{% block content_SingleStudentCard %}
<div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
  {% for object in object_list %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">{{object.last_name}} {{object.first_name}} {{object.patronymic}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light"> </small></h1>

            Фамилия: {{object.last_name}}<br>
            Имя: {{object.first_name}}<br>
            Отчество: {{object.patronymic}}<br>
            <img src="{% get_media_prefix object.avatar %}" alt="Avatar"><br>



            <a class="btn btn-primary" href="{% url 'students:detail' object.pk %}" role="button">Подробнее ...</a>
            <a class="btn btn-primary" href="{% url 'students:update' object.pk %}" role="button">Изменить</a>
            <a class="btn btn-primary" href="{% url 'students:delete' object.pk %}" role="button">Удалить</a>
            {% if object.is_active %}
              <a class="btn btn-primary" href="{% url 'students:toggle_activity' object.pk %}" role="button">Деактивировать</a>
            {% else %}
              <a class="btn btn-primary" href="{% url 'students:toggle_activity' object.pk %}" role="button">Активировать</a>
            {% endif %}



          </div>
        </div>
      </div>
  {% endfor %}
</div>
{% endblock %}