{% extends 'materials/base.html' %}
{% block content_SingleMaterialCard %}
<div class ="row text-center">
    <div class="col-5">

          <form method="post">
	        {% csrf_token %}
             {{ form.as_p }}
              {% if object %}
                            <button type="submit" class="btn btn-success">Сохранить изменения</button>
              {% else %}
                            <button type="submit" class="btn btn-success">Со изменения</button>
              {% endif %}
          </form>

    </div>
</div>
{% endblock %}